@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.swal2-confirm {
  background-color: #4CAF50; /* Verde */
  color: white;
}

.swal2-cancel {
  background-color: #F44336; /* Rojo */
  color: white;
}
